@charset "utf-8";
#zlwBj {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 13;
}

#zlwDateBox {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f7f7f8;
  border-top: 1px solid #a8abb0;
  z-index: 20;
  transform: translateY(100%);
  transition-duration: 400ms;
}

#zlwDateBox.pickerIn {
  transform: translateY(0);
}

.pickerHeader {
  position: relative;
  overflow: hidden;
  padding: 0 .06rem;
}
.pickerHeader > button {
  height: .4rem;
  line-height: .4rem;
  border: none;
  padding: 0 .1rem;
  color: #0894ec;
  font-size: .16rem;
}
.pickerHeader #pickerSure {
  float: right;
}
.pickerHeader:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #dcdcdc;
  transform: scaleY(0.5);
  bottom: 0;
}

.pickerTitle > span {
  display: inline-block;
  width: 33.3333%;
  text-align: center;
  padding: 6px 0;
  color: #8f8f94;
}

.pickerBody {
  transform-style: preserve-3d;
  height: 210px;
  overflow: hidden;
  position: relative;
  padding: 84px 0;
  text-align: center;
  -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
  -webkit-mask-box-image: -webkit-linear-gradient(to top, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
}
.pickerBody .pickerList {
  width: 33.3333%;
  float: left;
  position: relative;
  z-index: 2;
  height: 100%;
}
.pickerBody li {
  list-style: none;
  height: 42px;
  line-height: 42px;
  font-size: .20rem;
  color: #999;
}
.pickerBody li.on {
  color: #333;
}
.pickerBody:after, .pickerBody:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #dcdcdc;
  transform: scaleY(0.5);
  z-index: 1;
  pointer-events: none;
}
.pickerBody:after {
  top: 126px;
}
.pickerBody:before {
  top: 84px;
}

#zlwPicker .pickerBody .pickerList {
  display: inline-block;
  float: none;
}
